<div class="px-4 py-5 mt-5 text-center">
  <img class="d-block mx-auto mb-4" src="/static/images/logo.svg" alt="Website logo" width="72" height="57" />
  <label class="display-5 fw-bold text-body-emphasis my-border mb-3">No Click Tube Controller</label>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Experience seamless YouTube video control.<br>Effortlessly navigate video playback using intuitive gestures while it intuitively tracks eye movement. If attention drifts away, our technology pauses the video, resuming playback the moment focus returns. Enjoy hands-free, interactive viewing like never before!</p>
    <!--
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Start</button>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4">Personalize Controls</button>
    </div>
    -->
  </div>
</div>
