<div class="px-4 py-5 mt-5 text-center">
  <img class="d-block mx-auto mb-4" src="/static/images/logo.svg" alt="Website logo" width="72" height="57" />
  <label class="display-5 fw-bold text-body-emphasis my-border mb-3">No Click Tube Controller</label>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Enjoy a seamless YouTube video control experience. Effortlessly manage video playback with intuitive gestures while our technology monitors facial features to understand whether the user is actively watching the video. If attention diverts, the system automatically pauses the video, resuming playback the moment focus is regained. Immerse yourself in hands-free, interactive viewing like never before!</p>
    <!--
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Start</button>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4">Personalize Controls</button>
    </div>
    -->
  </div>
</div>
