<div class="modal fade" id="calibrationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="container-fluid h-100 g-0 overflow-hidden">
                    <div class="row h-100">
                        <div class="col-4 d-flex">
                            <span id="upperLeft" class="dot me-auto invisible">
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <span id="upperCenter" class="dot invisible">
                        </div>
                        <div class="col-4 d-flex">
                            <span id="upperRight" class="dot ms-auto invisible">
                        </div>
                        <div class="col-12 d-flex align-items-center justify-content-center">
                            <span id="centerUp" class="dot invisible">
                        </div>
                        <div class="col-12 d-flex align-items-center justify-content-center p-5">
                            <p class="lead"> Click the red dots until the calibration is complete <br> Stand still with your head and move only your eyes </p>
                        </div>
                        <div class="col-12 d-flex align-items-center justify-content-center">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                        <div class="col-12 d-flex align-items-center justify-content-center">
                            <span id="centerBottom" class="dot invisible">
                        </div>
                        <div class="col-4 d-flex align-items-end">
                            <span id="bottomLeft" class="dot me-auto invisible">
                        </div>
                        <div class="col-4 d-flex align-items-end justify-content-center">
                            <span id="bottomCenter" class="dot invisible">
                        </div>
                        <div class="col-4 d-flex align-items-end">
                            <span id="bottomRight" class="dot ms-auto invisible">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>