<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="warningToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="static/images/logo.svg" width="20" height="20" class="me-2" alt="Webapp logo" />
      <strong class="me-auto">Useful information</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">Do not use fingers in the same way they are used in other selected gestures.</div>
  </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3 top-0 start-50 translate-middle-x">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="static/images/logo.svg" width="20" height="20" class="me-2" alt="Webapp logo" />
      <strong class="me-auto">Control information</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body" id="toast-body-content"></div>
  </div>
</div>
